*.o
*.a
*.so
**/.Xil/
*.log
!fpga/vivado.log
**/.srcs/
**/out/*
!**/out/red_pitaya.bit
!**/out/*.rpt
usage_statistics_webtalk.*
synReport.txt*
scpi-server/lockbox-server
monitor/lockbox-monitor
monitor/test/test_lockstat
monitor/test/lockbox-monitor-host
monitor/test/readmon
monitor/test/*.conf
*.swp
**/prj/**/sdk
build/
__pycache__/
/.vscode/
