[Unit]
Description=Web interface for the Red Pitaya Lockbox
After=network.target redpitaya_nginx.service
Conflicts=redpitaya_nginx.service

[Service]
Type=simple
Restart=always
ExecStart=/opt/redpitaya/web-interface/web-interface.py

[Install]
WantedBy=multi-user.target
